{% extends "::base.html.twig" %}
{% block body %}
    {% include "::navbar.html.twig" with {'user': user}%}
    <div class="container">
<h1>{{ question.title }}</h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-10">
                    <b>{{ "view_question.description"|trans }}</b>
                <p>{{ question.description }}</p>
                        {% if question.code %}
                    <b>{{ "view_question.code"|trans }}</b>
                <pre><code>{{ question.code }}</code></pre>
                        {% endif %}
                    {% for tag in question.tags %}
                        <a href="{{ path('view_tag', {'slug':tag.slug}) }}" class="btn btn-primary" role="button">{{ tag.name }}</a>
                    {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <h5>{{ question.created|date }}</h5>
                        <h5>{{ question.user.email }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                {% if question.response %}
                    {% if question.response|length >1 %}
                    <h1>{{ question.response|length }} {{ "answer.many_answer"|trans }}</h1>
                        {% elseif question.response|length == 1 %}
                            <h1>{{ question.response|length }} {{ "answer.one_answer"|trans }}</h1>
                            {% endif %}
                {% for response in question.response %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-10">
                                    <b>{{ "answer.description"|trans }}:</b>
                                    <p>{{ response.description }}</p>
                            {% if response.code %}
                                    <b>{{ "answer.code"|trans }}:</b>
                                    <pre><code>{{ response.code }}</code></pre>
                                {% endif %}
                        </div>

                        <div class="col-md-2">
                            {% if response.user.email is defined %}
                                <h5>{{ question.user.email }}</h5>
                            {% endif %}
                            <h5>{{ question.created|date }}</h5>
                        </div>

                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <legend>{{ "answer.your"|trans }}:</legend>
            <div class="active">
                <b>{{ "answer.description"|trans }}</b>
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': "form-control"}}) }}
            </div>
            <br/>
            <div class="active">
                <b>{{ "answer.code"|trans }}</b>
                {{ form_errors(form.code) }}
                {{ form_widget(form.code, {'attr': {'class': "form-control"}}) }}
            </div>
            <br/>
            <div class="panel-body">
                <input type="submit" class="btn btn-primary" value="{{ "view_question.send"|trans }}">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}