{% extends "::base.html.twig" %}
{% block body %}

    <div class="container">
        <h1>{{ "view_tag.view_tag"|trans }}</h1>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% for question in tag.questions %}
                            <div class="col-md-2">
                                <h3>{{ question.views }}</h3>
                                <h5>{{ "view_tag.views"|trans }}</h5>
                            </div>
                            <div class="col-md-2">
                                <h3>{{ question.response|length }}</h3>
                                <h5>{{ "view_tag.answer"|trans }}</h5>
                            </div>
                            <div class="col-md-8">
                                <h3><a href="{{ path('view' ,{'slug':question.slug}) }}">{{ question.title }}</a></h3>
                                {% for tag in question.tags %}
                                    <a href="{{ path('view_tag', {'slug':tag.slug}) }}" class="btn btn-primary" role="button">{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
    </div>
    </div>
{% endblock %}


